/* Estilos generales */
@font-face {
    font-family: megalona;
    src:url("fonts/titlesStylish.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d0d0d;
    color: #d3d3d3;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

.container {
	transform: translateY(-10%);
    padding: 20px;
    border: 1px solid #d1d1fe;
    border-radius: 10px;
    background: #131313;
    box-shadow: 0 0 10px #2222b6;
}

h2 {

	font-family: megalona !important;
    font-size: 3rem;
    text-align: center;
    color: #dedefc;
    text-shadow: 0 0 15px #2222b6, 0 0 30px #2222b6;
}

#time-remaining {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fcbdd1;
    text-shadow: 0 0 15px #ff1550, 0 0 30px #ff1550;
}

h4 {
    text-align: center;
    margin: 20px 0;
    color: #d1d1fe;
    text-shadow: 0 0 15px #16164b, 0 0 30px #16164b;
}

#song-list {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #2f2f42;
    border-radius: 5px;
    background: #131313;
    box-shadow: 0 0 5px #16164b inset;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #262626;
    border: 1px solid #2f2f46;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 0 5px #16164b;
}
.card-body {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Alineación vertical en el centro */
}

.song-container {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Alineación de los elementos a los extremos */
}

.song-title {
    flex: 80%; /* 80% de la fila */
    color: #d3d3d3;
    margin-right: 10px; /* Espacio entre la canción y el botón */
}

.btn-vote {
    flex: 20%; /* 20% de la fila */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #16164b;
    color: #d3d3d3;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 5px #16164b;
    transition: background-color 0.3s ease;
}

.btn-vote:hover {
    background: #ff2a60;
    box-shadow: 0 0 15px #ff2a60;
}

.input-group {
    display: flex;
    gap: 10px;
    justify-content: center;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid  #2f2f46;
    border-radius: 5px;
    background: #262626;
    color: #d3d3d3;
}
button img {
    width: 100%; /* La imagen ocupará el ancho total del botón */
    height: 100%; /* La imagen ocupará la altura total del botón */
    object-fit: contain; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina espacios en línea alrededor de la imagen */
}

button {
    height: 40px; /* Alto del botón */
    padding: 0; /* Elimina espacio interno adicional */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #16164b;
    color: #d3d3d3;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 5px #16164b;
    transition: background-color 0.3s ease;
    align-items: center; /* Centra la imagen verticalmente */
    justify-content: center; /* Centra la imagen horizontalmente */
}

button:hover {
    background: #ff2a60;
    box-shadow: 0 0 15px #ff2a60;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 10px;
    }
}
