services:
  app:
    image: s4nxez/bartunesvote:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: production
    networks:
      - backend
    restart: unless-stopped

networks:
  backend: